body {
  display: grid;
  grid-template-rows: auto 1em auto 4em auto;
  grid-template-areas:
    "header"
    "..."
    "main"
    "..."
    "footer";
  font-family: "Source sans 3", sans-serif;
  margin: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 0 1em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: auto 0 auto auto;
}

nav ul li {
  font-size: 2.5vw;
  color: #090909;
  font-weight: 600;
  margin-left: 1em;
}

nav p {
  margin-left: 0.2em;
  margin-right: 2em;
  font-weight: 700;
  font-size: 3vw;
  color: #0e0e0e;
  font-family: Rototo, sans-serif;
}

.logo-img {
  width: 25px;
  height: 25px;
}

header {
  color: #f5f5f5;
  position: relative;
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0)),
    url(images/hero.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0 3em 1.5em 1em;
  grid-area: header;
}

header time {
  margin: 9em auto 0 0;
  font-size: 3vw;
}

h1 {
  font-size: 5vw;
  margin: 0.15em 0;
  line-height: 1.2;
  text-shadow: 0 0 5px #0e0e0e;
}

.header-paragraph-text {
  margin: 0;
  font-size: 3.5vw;
  text-shadow: 0 0 10px #0e0e0e;
}

main {
  display: grid;
  grid-template-columns: auto-fit;
  row-gap: 2em;
  grid-area: main;
  padding: 0 1em;
}

.blogpost-img {
  display: block;
  width: 100%;
  object-fit: cover;
}

time {
  display: block;
}

article time {
  font-size: 2.5vw;
  margin-top: 1em;
}

h2 {
  font-size: 3.5vw;
}

.blog-content,
.blog-git-paragraph,
.blog-content-tech {
  font-size: 3vw;
  margin: 0.5em 0;
}

footer {
  grid-area: footer;
  background-color: #0e0e0e;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

footer p:nth-child(1) {
  font-weight: 600;
  margin-bottom: 0.4em;
}

footer p:nth-child(2) {
  margin-top: 0;
  font-size: 0.6rem;
}
