body {
  max-width: 1440px;
  font-family: "Source sans 3", sans-serif;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 0 1em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: auto 0 auto auto;
  align-items: center;
}

nav ul li {
  font-size: 2.5vw;
  color: #090909;
  font-weight: 600;
  margin-left: 1em;
}

nav p {
  margin-left: 0.2em;
  margin-right: 2em;
  font-weight: 700;
  font-size: 2.823vw;
  color: #0e0e0e;
  font-family: "Roboto", sans-serif;
}

.logo-img {
  width: 25px;
  height: 25px;
}

header {
  color: #ffffff;
  position: relative;
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0)),
    url(images/hero.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0 3em 1.5em 1em;
  grid-area: header;
}

header time {
  margin: 9em auto 0 0;
  font-size: 2.5vw;
}

h1 {
  font-size: 6.667vw;
  margin: 0.15em 0;
  line-height: 1.2;
}

.header-paragraph-text {
  margin: 0;
  font-size: 3.333vw;
}

main {
  background-image: #FAFAFA;
  display: grid;
  grid-template-columns: 1fr;
  grid-area: main;
  padding: 1.5em 1em;
  row-gap: 2em;
}

.blogpost-img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

time {
  display: block;
}

article time {
  font-size: 2.952vw;
  margin-top: 1em;
  color: #000000;
}

h2 {
  font-size: 5vw;
  color: #141414;
  font-weight: 700;
  margin: 0.5em 0;
}

.blog-content {
  margin: 0;
  line-height: 1.5;
}

.blog-content,
.blog-git-paragraph,
.blog-content-tech {
  font-size: 3.333vw;
  color: #505050;
}

.view-more {
  display: block;
  background: none;
  border: none;
  margin-inline: auto;
  margin-bottom: 3em;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  grid-area: footer;
  background-color: #0e0e0e;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  margin-top: 1em;
  font-size: 2.5vw;
}

footer p:nth-child(1) {
  font-weight: 600;
  margin-bottom: 0.4em;
  color: #ECECEC;
}

footer p:nth-child(2) {
  margin-top: 0;
  color: #D7D7D7;
}

a:link,
a:hover,
a:visited,
a:active {
  color: #505050;
  text-decoration: none;
}


/* Media query */

@media (min-width: 480px) {



  nav p {
    font-size: 0.846rem;
  }

  nav ul li,
  header time {
    font-size: 0.75rem;
  }

  header time {
    margin-top: 12em;
  }

  .header-paragraph-text {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .header-paragraph-text {
    font-size: 1rem;
  }

  article time {
    font-size: 0.885rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .blog-content,
  .blog-git-paragraph,
  .blog-content-tech {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.75rem;
  }

}

@media (min-width: 576px) {

  main {
    padding: 3rem;
  }
}


@media (min-width: 768px) {

  nav {
    padding: 0 2em;
  }

  nav ul {
    column-gap: 1.2em;
  }

  header {
    padding-bottom: 3em;
  }

  header time {
    margin-top: 18em;
  }

  main {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
  }

}

@media (min-width: 1025px) {

  .logo-img {
    width: 34px;
    height: 34px;
  }

  nav p {
    font-size: 1.253rem;
  }

  nav ul li {
    font-size: 1rem;
  }

  header time,
  .header-paragraph-text {
    font-size: 1rem;
  }

  h1 {
    width: 100%;
    font-size: 2.5rem;
  }

  .header-paragraph-text {
    width: 600px;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
